.dragDrop {
  .file-area {
    //border: 1px dashed $darkblue;
    border: 2px dashed #ddd;
    width: 100%;
    position: relative;
    margin-bottom: 0;

    input[type=file] {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      cursor: pointer;
    }

    .file-dummy {
      width: 100%;
      padding: 5em;
      background: rgba(255, 255, 255, 0.2);
      border: 2px dashed rgba(255, 255, 255, 0.2);
      text-align: center;
      transition: background 0.3s ease-in-out;

      .success {
        display: none;
      }
    }

    &:hover .file-dummy {
      background: rgba(255, 255, 255, 0.1);
    }

    input[type=file]:focus + .file-dummy {
      outline: 2px solid rgba(255, 255, 255, 0.5);
      outline: -webkit-focus-ring-color auto 5px;
    }

    input[type=file]:valid + .file-dummy {
      border-color: $success;
      background-color: $success;

      .success {
        display: block;
        ul {
          .glyphicon-ok {
            color: $darkGreen;
          }
          .glyphicon-minus {
            color: $darkRed;
          }
        }
      }
      .default {
        display: none;
      }
    }
  }
}
.dragDrop {
    span {
      float: right;
      text-transform: none;
      font-weight: 200;
      line-height: 1em;
      font-style: italic;
      opacity: 0.8;
    }
}

#dragDrop {
  .form-controll {
    display: block;
    padding: 8px 16px;
    width: 100%;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    font-weight: 200;

    &:focus {
      outline: 2px solid rgba(255, 255, 255, 0.5);
      outline: -webkit-focus-ring-color auto 1px;
    }
  }
}
.dragDrop {
  .uploadButton {
    margin: 0;
    color: #fff;
    background: #999999;
    border: none;
    width: 100%;
    height: 35px;
    border-bottom: 4px solid #a3a39a;
    transition: all .2s ease;
    outline: none;
  }
}