* {
  border-radius: 0 !important;
  box-shadow: none !important;
  font-family: 'Open Sans', sans-serif;
}

main {
  a {
    text-decoration: underline;
  }

}

h1, h2, h3, h4, h5 {
  font-family: 'Bitter', serif;
}

main {
  a {
    text-decoration: underline;
  }
}

.success {
  background-color: $success;
}