.progress-status {
  button:hover {
    cursor: default;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  .success:hover, .success:focus {
    cursor: default;
    background-color: $success;
  }
  margin-bottom: 20px;
  .glyphicon-ok {
    color: #3c763d;
  }
}