// Units
$padding-unit: 0.5em;
$padding-unit-small: $padding-unit / 2;
$padding-unit-large: $padding-unit * 2;

// Colours
$home-office-colour: #9325b2;
$light-grey: #dedede;
$dark-grey: #343434;
$notification-yellow: rgb(252, 255, 42);
$success:#eeffe7;